<%- include('./header.ejs') %>
    <!-- about section -->
    <section>
        <div class="continer-fluid">
          <div class="container">
            <div class="row mt-3">
              <div class="col-md-5">
                <img
                  src="https://images.unsplash.com/photo-1521587760476-6c12a4b040da?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80"
                  alt=""
                  class="img-fluid ab-img"
                />
              </div>
              <div class="col-md-7 about">
                <h1 class="mb-4 text-black">About Us</h1>
                <p>
                  Pratap Vahini Samaj Kalyan Sansthan, Gwalior was incepted in
                  1995 after the due registration from Registrar, Firms & Society,
                  M.P. Govt. The society was established by Lt. Shri Ram Singh
                  Dhakre and his associates. The society established the first
                  Engg. College of the region in 1996 on the name of great Indian
                  legendry Maharana Pratap College of Technology, which is now the
                  parent organization of the group society under the leadership of
                  Lt. Shri Ram Singh Dhakre finished its second venture by
                  establishing first Dental College of the region in 2003, this
                  college again has set now dimension in the field of medical
                  education. After this in late 20s the society promoted and
                  established nursing college , Allied Science College and
                  Management institute. <br />
                  The society is not only involve in promoting the educational
                  institute but also very much serious about the society
                  upliftment under this egis. The society opted a village name
                  NONERA in Dist. Bhind M.P. for its overall development. The
                  society is regularly organizing health checkup camps,
                  distributing free medicine, constructed road and provisions were
                  made for pure drinking water supply <br />
                  To fulfill the commitment towards mankind and to serve them
                  ,society now established 100 bed hospital which is fully
                  functional and serving the society by providing all major
                  facilities under one roof.
                </p>
              </div>
            </div>
          </div>
        </div>
  
        <div class="container mt-5 ">
          <h1 class="mb-3 text-black">PRINCIPAL'S MESSAGE</h1>
          <p>GIVE students a vision of new ambition and to equip them professionally, technically as well as analytically in an outlook of decision making in the ever-changing national and International technical environment.</p>
          <p>TRAIN students to become successful technocrats, effective leader and team player so that they are equipped to enhance their knowledge, developing confidence and zeal for creativity.</p>
          <p>HELP students to discover their dormant qualities and unused strengths and potential. so that they get the vigor to set the highest goals for their life and achieve them; DEVELOP students' abilities to solve and to implement solution in phases resolving complex problems.
          </p>
          <p>INSTIL in students the art of Engineering and understanding of human behavioural pattern and motivation in cultural multidimensional environment.</p>
          <p>PROVIDE a course that is continually evolving and improving, in both context and structure, and focuses on the ideas and skills which are vital to technical & managerial success.</p>
  
          <p style="font-weight: bold; color: cornflowerblue ;" class="mb-5">CONTACT PRINCIPAL-Dr. SANJAY GOMASTHA
          <br>principal@mpct.org
          </p>
        </div>
      </section>
<%- include('./footer.ejs') %>

