<%- include('./header.ejs')%>
<!-- contact -->
<section class="contact ">
    <div class="container-fluid  contact-bg ">
        <div class="container contact-field ">
            <h1 class="text-center heading">Contact Us</h1>

            <form class="form-horizontal mt-3">
                <div class="form-group mb-3 px-5 ">
                  <label class="mb-2">NAME</label>
                  <input class="form-control" type="text" placeholder="name">
                </div>

                <div class="form-group mb-3 px-5">
                  <label class="mb-2">E-Mail</label>
                  <input class="form-control" type="e-mail" placeholder="e-mail">
                </div>

                <div class="form-group mb-3 px-5">
                  <label class="mb-2">Mobile No.</label>
                  <input class="form-control" type="phone" placeholder="mob.no.">
                </div>        
                
                <div class="form-group mb-3 px-5">
                    <label class="mb-2">
                     Address
                    </label>
                    <textarea class="form-control" name="Address" ></textarea>
                  </div>

                <div class="text-center">
                  <button class="btn my-4" type="submit">Submit</button>
              </form>
        </div>
    </div>
</section>
<%- include('./footer.ejs')%>
