<!-- footer -->
<div class="section bg p-5">
    <div class="container-fluid">
      <div class="container">
        <div class="row">
          <div class="col-md-4 heading-1">
            <span class="h">About</span>
            <br />
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Odio
            </p>
            <a href=""
              ><span class="icons">
                <i class="fa-brands fa-square-facebook fa-beat"></i> </span
            ></a>

            <a href="">
              <span class="icons">
                <i class="fa-brands fa-square-instagram fa-beat"></i> </span
            ></a>

            <a href="">
              <span class="icons">
                <i class="fa-brands fa-linkedin fa-beat"></i> </span
            ></a>

            <a href="">
              <span class="icons">
                <i class="fa-brands fa-google fa-beat"></i>
              </span>
            </a>
          </div>

          <div class="col-md-4 heading-2">
            <span class="h-2"> Contact </span>
            <br />
            <i class="fa-solid fa-house"></i>
            <span class="add">New Collectrate, Sirol road,Gwalior (M.P)</span>
            <br />
            <i class="fa-solid fa-envelope"></i>
            <span class="add">admissionmpct@gmail.com</span>
            <br />
            <i class="fa-solid fa-phone"></i>
            <span class="add"> +91 8871482503</span>
            <br />
            <i class="fa-sharp fa-solid fa-print"></i>
            <span class="add"> +91 8871482503</span>
          </div>

          <div class="col-md-4">
            <a class="logo" href="">
              <img
                src="/image/logo (1).png"
                class="img-fluid lo"
                alt="mpct logo"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center p-3 last-footer">
    © 2023 Copyright:
    <a class="linkdin" href="https://www.linkedin.com/in/himanshi-pachouri-079077262/">Himanshi Pachouri</a>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-element-bundle.min.js">

  </script>
  <!-- js code -->
  <script>
   const swiperEl = document.querySelector('swiper-container')
    Object.assign(swiperEl, {
      slidesPerView: 1,
      spaceBetween: 10,
      pagination: {
        clickable: true,
      },
      breakpoints: {
        "@0.00": {
          slidesPerView: 1,
          spaceBetween: 10,
        },
        "@0.75": {
          slidesPerView: 2,
          spaceBetween: 20,
        },
        "@1.00": {
          slidesPerView: 3,
          spaceBetween: 40,
        },
        "@1.50": {
          slidesPerView: 4,
          spaceBetween: 50,
        },
      },
    });

    swiperEl.initialize();
  </script> 

  <!-- <script src="../controllers/dashboard.js"></script> -->
  
</body>
</html>